/* Reset basics */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Outfit', sans-serif;
    color: #fff;
    height: 100vh;
    background-color: #111e17;
    /* gradient setup */
    background: linear-gradient(45deg, #223f2f, #000000, rgb(34, 63, 47), #111e17);
    background-size: 400% 400%;
    animation: gradientShift 50s ease infinite;
background: linear-gradient(135deg, black, #223f2f);
    overflow: hidden;

}

/* keyframes for gradient movement */
@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
