/* Reset basics */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Outfit', sans-serif;
    color: #fff;
    height: 100vh;
    /* gradient setup */
    background: linear-gradient(45deg, #223f2f, #000000, rgb(34, 63, 47), #111e17);
    background-size: 400% 400%;
    animation: gradientShift 50s ease infinite;
    overflow: hidden;

}

html, body {
    background-color: #000; /* vulling achter transparante balk */
    min-height: 100%;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg, #000, #223f2f);
    background-size: 400% 400%;
    animation: gradientShift 50s ease infinite;
}

/* keyframes for gradient movement */
@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
