
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Outfit', sans-serif;
    color: #fff;
    height: 100vh;
    background-size: 400% 400%;
background: linear-gradient(135deg, black, #223f2f);
    overflow: hidden;

}

html, body {
    background-color: #000;
    min-height: 100%;
    font-family: 'Outfit', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg, #000, #223f2f);
    background-size: 400% 400%;
    animation: gradientShift 50s ease infinite;
}

@keyframes gradientShift {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.tag {
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    border: 2px solid #56685c;
    transition: background 0.3s;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.tag:hover {
    background: rgba(255,255,255,0.2);
    color: #fff;
}

.hero-tags {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

